<ion-view view-title="Результат" on-swipe-right="goBack()" on-swipe-left="goForward()">
  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <label>


      <h1> Завдання : Y min </h1>


    </label>


    <button class="button button-block button-positive" ng-click="getAnswer(); show = true"> Відповідь!</button>
    <div class="answer" ng-show="show">
      <div>
        <h1> Ymin = {{Ymin}}</h1>
      </div>


      <table class="">
        <tr>
          <td ng-repeat="x in minXs track by $index">
            {{minXs[$index]}}
          </td>
        </tr>
      </table>
    </div>

  </ion-content>
</ion-view>
