<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Settings" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Table" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/table">
    <ion-nav-view name="tab-table"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Run" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/run">
    <ion-nav-view name="tab-run"></ion-nav-view>
  </ion-tab>


</ion-tabs>
